.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em;
  border: 1px solid black;
}

.lable{
  display: block;
  margin: 10px
}

.alarm-detail {
  display: inline-block;
  margin: 10px;
}

.alarm-btn {
  display: inline-block;
  margin: 10px;
  width: 70px;
  height: 30px;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nowTime {
  margin: 5px;
  font-size: 20px;
}

.addAlarm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.alarm-setting {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: flex;
}

select {
  margin: 0 10px;
}

input {
  margin: 0 10px;
}

.button-addAlarm {
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.detail-container {
  margin: 5px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 80vw;
  max-width: 400px;
  padding: 2rem 1rem;
  text-align: center;
}
.modal h4 {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal .confirm-btn {
  margin-top: 1rem;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
